.bg-card{
  background-color: #343a40;
  padding: 10px;
  min-width: 300px;
  max-width: 30%;
  margin: auto;
}

.display_pic{
  width: 150px;
  height: 150px;
}

.stepper {
  -ms-flex-align: center;
  align-items: center;
  color: #2d2f43;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  padding-bottom: 24px;
  padding-top: 24px;
  margin: auto;
  width: 70%;
}

.stepper-content {
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  position: relative;
}

.hasLine {
  padding-bottom: 2rem;
}
.year-achievement {
  box-sizing: border-box;
  font-size: .8333rem;
  min-height: 2.2em;
  padding-left: 5rem;
  position: relative;
}
.year {
  color: #9697a1;
  font-weight: bold;
  font-size: medium;
}

.line{
  background: #c5c5cc;
  bottom: 2px;
  left: 3.8rem;
  margin-top: 2px;
  position: absolute;
  top: 1rem;
  width: 2px;
}

.point{
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iNjQuOSIgY3k9IjI4LjkiIHI9IjguOSIgZmlsbD0iIzk2OTdBMSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTYgLTIwKSIvPjwvc3ZnPg==) 50% 50%/contain no-repeat;
  height: 1rem;
  left: 3.35rem;
  position: absolute;
  top: 0;
  width: 1rem;
}

.a-header{
  margin-left: 55px;
  padding-bottom: 10px;
}

