.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
}

.footer-dark .item.social {
  text-align: center
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75
}

.footer-dark .item.social>a:hover {
  opacity: 0.9
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0
}

.developer {
    font-size: small;
    background: #1f1f1f;
    text-align: center;
    color: #ffffff;
    padding: 10px;
  }